.header {
    padding: 30px 0;
    color:  rgb(45, 177, 78);
    background-color: #101D42;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid rgb(45, 177, 78);
    margin-bottom: 10px;
}